<div class="container mt-5">
  <div class="container col-sm-9">
    <form action="/filter" method="GET" class="mx-auto col-md-9 ">
      <select class="form-select"name="categoryOption" id="categoryOption" onchange="submit()">
        <option selected disabled value="">查看類別開銷</option>
        {{#each categories}}
        {{!-- 在#each裡面要從home.js傳currentCategory過來，前面要寫../ --}}
        <option value="{{this.categoryEnName}}" {{categorySelected ../currentCategory this.categoryEnName}}>{{this.categoryName}}</option>
        {{/each}}
      </select>
    </form>
    <div class="d-flex justify-content-evenly mt-5">
      <div class="fs-1">總金額:</div>
      <div class="fs-1 text-warning">{{totalAmount}}</div>
    </div>
  </div>
  <ul class="container list-group mt-5 w-75">
    {{#each records}}
    <li class="row mb-2">
      <div class="col-1">
        <i class="{{categoryTurnIcon this.category}} fs-1 text-info"></i>
      </div>
      <div class="col-2">
        <div>{{this.name}}</div>
        <div>{{this.date}}</div>
      </div>
      <div class="col-6">
        <div class="fs-3 text-info">{{this.merchant}}</div>
      </div>
      <div class="col-1 fs-5">{{this.amount}}</div>
      <div class="col-1">
        <a href="/records/{{this._id}}/edit" class="btn btn-outline-secondary">修改</a>
      </div>
      <div class="col-1">
        <form action="/records/{{this._id}}/?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger">刪除</button>
        </form>
        {{!-- <a href="" class="btn btn-outline-danger">刪除</a> --}}
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="d-flex justify-content-center">
    <a href="/records/new" class="mt-3 btn btn-outline-info">新增支出</a>
  </div>
</div>